/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Umlaut_A {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <25 15>;
            timeout-ms = <200>;
        };

        Umlaut_U {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <15 19>;
            timeout-ms = <200>;
        };

        Umlaut_O {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <15 21>;
            timeout-ms = <200>;
        };

        double_thumb_enter {
            bindings = <&kp ENTER>;
            key-positions = <54 55>;
        };

        bottom_right_enter {
            bindings = <&kp ENTER>;
            key-positions = <49 48>;
        };

        left_enter {
            bindings = <&kp ENTER>;
            key-positions = <54 53>;
        };

        poweroff {
            bindings = <&kp C_POWER>;
            key-positions = <42 43>;
            require-prior-idle-ms = <500>;
        };

        up {
            bindings = <&kp UP>;
            key-positions = <58 57>;
            layers = <0>;
        };
    };

    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        comma: comma {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMA";
            #binding-cells = <0>;
            bindings = <&kp DE_COMMA>, <&kp DE_SEMI>;
        };

        dot: dot {
            compatible = "zmk,behavior-tap-dance";
            label = "DOT";
            #binding-cells = <0>;
            bindings = <&kp DE_DOT>, <&kp DE_COLON>;
        };

        minus: minus {
            compatible = "zmk,behavior-tap-dance";
            label = "MINUS";
            #binding-cells = <0>;
            bindings = <&kp DE_MINUS>, <&kp DE_UNDERSCORE>;

            tapping-term-ms = <300>;
        };

        ticks: ticks {
            compatible = "zmk,behavior-tap-dance";
            label = "TICKS";
            #binding-cells = <0>;
            bindings =
                <&kp DE_APOSTROPHE>,
                <&kp DE_DOUBLE_QUOTES>,
                <&kp DE_GRAVE>;
        };

        esszett: esszett {
            compatible = "zmk,behavior-tap-dance";
            label = "ESSZETT";
            #binding-cells = <0>;
            bindings = <&kp DE_S>, <&kp DE_SZ>;
        };

        mal_geteilt: mal_geteilt {
            compatible = "zmk,behavior-tap-dance";
            label = "MAL_GETEILT";
            #binding-cells = <0>;
            bindings = <&kp DE_ASTERISK>, <&kp DE_SLASH>;
        };

        hold_and_esszett: hold_and_esszett {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_AND_ESSZETT";
            bindings = <&kp>, <&esszett>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        pipes_and_slashes: pipes_and_slashes {
            compatible = "zmk,behavior-tap-dance";
            label = "PIPES_AND_SLASHES";
            #binding-cells = <0>;
            bindings = <&kp DE_SLASH>, <&kp DE_BACKSLASH>, <&kp DE_PIPE>;
        };

        hold_and_pipes_and_slashes: hold_and_pipes_and_slashes {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_AND_PIPES_AND_SLASHES";
            bindings = <&kp>, <&pipes_and_slashes>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        plus_minus: plus_minus {
            compatible = "zmk,behavior-tap-dance";
            label = "PLUS_MINUS";
            #binding-cells = <0>;
            bindings = <&kp DE_PLUS>, <&kp DE_MINUS>;
        };

        plus_asterisk: plus_asterisk {
            compatible = "zmk,behavior-tap-dance";
            label = "PLUS_ASTERISK";
            #binding-cells = <0>;
            bindings = <&kp DE_PLUS>, <&kp DE_ASTERISK>, <&kp DE_HASH>;

            tapping-term-ms = <300>;
        };

        questionmark: questionmark {
            compatible = "zmk,behavior-tap-dance";
            label = "QUESTIONMARK";
            #binding-cells = <0>;
            bindings = <&kp DE_QUESTION>, <&kp DE_EXCLAMATION>;
        };

        dollar: dollar {
            compatible = "zmk,behavior-tap-dance";
            label = "DOLLAR";
            #binding-cells = <0>;
            bindings = <&kp DE_DOLLAR>, <&kp DE_EURO>, <&kp DE_SECTION>;
        };

        percent: percent {
            compatible = "zmk,behavior-tap-dance";
            label = "PERCENT";
            #binding-cells = <0>;
            bindings = <&kp DE_PERCENT>, <&kp DE_AMPERSAND>;
        };

        klammer: klammer {
            compatible = "zmk,behavior-tap-dance";
            label = "KLAMMER";
            #binding-cells = <0>;
            bindings = <&kp DE_LEFT_PARENTHESIS>, <&kp DE_RIGHT_PARENTHESIS>;
        };

        eckige_klammer: eckige_klammer {
            compatible = "zmk,behavior-tap-dance";
            label = "ECKIGE_KLAMMER";
            #binding-cells = <0>;
            bindings = <&kp DE_LEFT_BRACKET>, <&kp DE_RIGHT_BRACKET>;
        };

        geschweifte: geschweifte {
            compatible = "zmk,behavior-tap-dance";
            label = "GESCHWEIFTE";
            #binding-cells = <0>;
            bindings = <&kp DE_LEFT_BRACE>, <&kp DE_RIGHT_BRACE>;
        };

        spitze_klammern: spitze_klammern {
            compatible = "zmk,behavior-tap-dance";
            label = "SPITZE_KLAMMERN";
            #binding-cells = <0>;
            bindings = <&kp DE_LESS_THAN>, <&kp DE_GREATER_THAN>;
        };

        dot_coma: dot_coma {
            compatible = "zmk,behavior-tap-dance";
            label = "DOT_COMA";
            #binding-cells = <0>;
            bindings = <&kp DE_COMMA>, <&kp DE_DOT>;
        };

        caps_words_manual: caps_words_manual {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS_WORDS_MANUAL";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>;
        };

        leftshift: leftshift {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFTSHIFT";
            #binding-cells = <0>;
            bindings = <&sk LEFT_SHIFT>, <&caps_words_manual>;

            tapping-term-ms = <250>;
        };

        hold_and_left_shift: hold_and_left_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_AND_LEFT_SHIFT";
            bindings = <&kp>, <&leftshift>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <250>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        media_play_skip: media_play_skip {
            compatible = "zmk,behavior-tap-dance";
            label = "MEDIA_PLAY_SKIP";
            #binding-cells = <0>;
            bindings = <&kp C_PLAY_PAUSE>, <&kp C_NEXT>;
        };

        media_pausw_prev: media_pausw_prev {
            compatible = "zmk,behavior-tap-dance";
            label = "MEDIA_PAUSW_PREV";
            #binding-cells = <0>;
            bindings = <&kp C_PLAY_PAUSE>, <&kp C_PREV>;
        };

        macos_screen_selection: macos_screen_selection {
            compatible = "zmk,behavior-tap-dance";
            label = "MACOS_SCREEN_SELECTION";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(DE_N4))>, <&kp LG(LS(LC(DE_N4)))>;

            tapping-term-ms = <300>;
        };

        screen_sniping: screen_sniping {
            compatible = "zmk,behavior-tap-dance";
            label = "SCREEN_SNIPING";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(DE_N5))>, <&kp LG(LS(DE_S))>;

            tapping-term-ms = <300>;
        };

        volume_down_and_mute: volume_down_and_mute {
            compatible = "zmk,behavior-tap-dance";
            label = "VOLUME_DOWN_AND_MUTE";
            #binding-cells = <0>;
            bindings = <&kp C_VOLUME_DOWN>, <&kp C_MUTE>;

            tapping-term-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  | PLAY  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp F1                        &kp F2                &kp F3                        &kp F4                 &kp F5                   &kp F6                                                   &kp F7                   &kp F8                      &kp F9                       &kp F10                   &kp F11                                      &kp F12
&hold_tap DE_CARET ESC        &hold_tap DE_AT DE_Q  &kp W                         &kp E                  &kp R                    &kp T   &hold_tap DE_EXCLAMATION DE_Z                                             &hold_tap DE_QUESTION DE_U  &hold_tap DE_AMPERSAND DE_I  &hold_tap DE_PIPE DE_O    &kp P                                        &kp BSPC
&kp TAB                       &hold_tap LCTRL DE_A  &hold_and_esszett LEFT_ALT 0  &hold_tap LSHIFT DE_D  &hold_tap LEFT_GUI DE_F  &kp G   &kp H                                                                     &hold_tap RIGHT_GUI DE_J    &hold_tap RIGHT_SHIFT DE_K   &hold_tap RIGHT_ALT DE_L  &hold_and_pipes_and_slashes RIGHT_CONTROL 0  &ticks
&hold_and_left_shift LSHFT 0  &kp DE_Y              &kp X                         &kp C                  &kp V                    &kp B   &media_pausw_prev              &media_play_skip  &hold_tap DE_TILDE DE_N  &kp M                       &comma                       &dot                      &minus                                       &plus_asterisk
                                                    &kp LGUI                      &kp LALT               &kp LCTRL                &mo 2   &kp SPACE                      &kp SPACE         &mo 1                    &kp LEFT                    &kp DOWN                     &kp RIGHT
            >;
        };

        raise_layer {
            display-name = "raise";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &trans  &trans  &trans  &trans        &trans                                                    &trans             &trans         &trans    &trans     &trans           &trans
&trans  &trans  &trans  &trans  &trans        &trans            &kp PG_UP                                                  &trans         &kp UP    &trans     &trans           &kp DEL
&trans  &trans  &trans  &trans  &trans        &trans            &kp PG_DN                                                  &kp LEFT       &kp DOWN  &kp RIGHT  &kp BSPC         &kp DEL
&trans  &trans  &trans  &trans  &kp LC(LEFT)  &kp LC(LG(LEFT))  &volume_down_and_mute  &kp C_VOLUME_UP  &kp LC(LG(RIGHT))  &kp LC(RIGHT)  &trans    &trans     &screen_sniping  &macos_screen_selection
                &trans  &trans  &trans        &trans            &trans                 &trans           &trans             &trans         &trans    &trans
            >;
        };

        lower_layer {
            display-name = "lower";

            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans   &trans     &trans        &trans     &trans     &trans                               &trans  &trans         &trans           &trans        &trans        &trans
&kp F12  &kp DEL    &mal_geteilt  &kp DE_N7  &kp DE_N8  &kp DE_N9  &spitze_klammern                  &klammer       &eckige_klammer  &geschweifte  &kp DE_EQUAL  &trans
&kp F11  &kp BSPC   &plus_minus   &kp DE_N4  &kp DE_N5  &kp DE_N6  &trans                            &questionmark  &dollar          &percent      &kp DE_EQUAL  &trans
&kp F4   &kp EQUAL  &dot_coma     &kp DE_N1  &kp DE_N2  &kp DE_N3  &kp DE_N0         &trans  &trans  &trans         &trans           &trans        &trans        &trans
                    &trans        &trans     &trans     &trans     &trans            &trans  &trans  &trans         &trans           &trans
            >;
        };

        adjust_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            display-name = "adjust";
            bindings = <
&bt BT_CLR         &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                             &none  &none  &none  &none  &none  &none
&ext_power EP_TOG  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_EFF  &none                          &none  &none  &none  &none  &none
&none              &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &none            &none            &none            &none                          &none  &none  &none  &none  &none
&none              &none            &none            &none            &none            &none            &rgb_ug RGB_TOG  &none  &none  &none  &none  &none  &none  &none
                                    &none            &none            &none            &none            &none            &none  &none  &none  &none  &none
            >;
        };
    };
};
